$lightest: #CCDAD1;
$light: #9CAEA9;
$average: #788585;
$heavy: #6F6866;
$heaviest: #38302E;

body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: $average;   
    margin: 0 auto;
    max-width: 50em; 
    line-height: 1.5;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
  color: $heaviest;
}