@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
// font-family: 'Josefin Sans', sans-serif;

$lightest: #ccdad1;
$light: #9caea9;
$average: #788585;
$heavy: #6f6866;
$heaviest: #38302e;

body {
    margin: 0;
    box-sizing: border-box;
}